<h1>Hello World!</h1>

<p>This is the home page</p>

<section>
  <h2>Mission</h2>
</section>

<section>
  <h2>Vision</h2>
</section>

<section>
  <h2>Values</h2>
</section>

<section>
  <h2>What we do</h2>
</section>

