<h1>Hello World!</h1>

<p>This is the home page</p>

<!--this should be in a navbar-->
<%= link_to "About", about_path%>
<%= link_to "Contact", contact_path%>
<section>
  <h2>Mission</h2>
</section>

<section>
  <h2>What we do</h2>
</section>

